{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<style>
    .follow-box{
        background-color: #686874;
        padding: 15px;
        border-radius: 10px;
        color: #ffffff;
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
    }

    .follow-box h1,
    .follow-box h2,
    .follow-box h3,
    .follow-box h4,
    .follow-box h5,
    .follow-box h6,
    .follow-box p,
    .follow-box div{
        color: white
    }


    .profile-box{
        flex-grow: 4;
        text-align: left;
    }
</style>

<div class="follow-box" >
    <img src="{{ .Site.BaseURL }}avatar.png" style="border-radius: 6px" width="100px">
    <div class="profile-box">
        <h2>
        码客二十二
        </h2>
        <p>Unity和Godot游戏开发者，喜欢科技与狠活。</p>
        <hr>
        <div style="display: flex; align-items: center;">
            <h3>关注我：</h3>
            <a href="https://space.bilibili.com/204475293" target="_blank">
                <img src="{{ .Site.BaseURL }}media_icons/bilibili.svg" width="40px">
            </a>
        </div>
    </div>
</div>
